.navigation{
    background-color: #0D1128;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    /* width: 95%; */
    font-family: verdana;
    gap: 20PX;
}
.logo{
    font-size: 35px;
    color: white;
    font-weight: 550;
}
.pages{
    display: flex;
    flex-direction: row;
    color: white;
    gap: 40px;
}
.pages a{
    color: white;
    text-decoration: none;
}
.setting{
    gap: 20px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    
}
.signin{
    width: fit-content;
    color: white;
    /* margin-left: 80px; */
    
}
.login{
    width: 100px;
    padding: 5px 0px 5px 0px;
    border-radius: 50px;
    background-color: #1B9CE3;
    color: #0D1128;
    display: flex;
    justify-content: center;
    align-items: center;
}
.herosection{
    position:relative;
    /* width: 100%; */
    background-color: #1B9CE3;
    height: 500px;
    display: flex;
    /* z-index: -3; */
    flex-direction: column;
    font-family: verdana;
    justify-content: center;
    gap: 0px;
}
.text{
    z-index: 8;
    margin-left: 30px;
}
.herosection img{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.herosection h4{
    /* background-color: #1B9CE3; */
    display: flex;
    margin-left: 0px;
    padding: 0px;
    z-index: 8;
    color: white;
}
.herosection p{
    /* background-color: #1B9CE3; */
    display: flex;
    margin-left: 0px;
    padding: 0px;
    z-index: 8;
    color: white;
    font-size: 45px;
    font-weight: 600;
}
.herosection a{
    z-index: 8;
    text-decoration: none;
    color: white;
    margin-left: 0px;
    padding: 20px;
    background-color: #1B9CE3;
    width: fit-content;
    border-radius: 50px;
}
.features{
    width: 100%;
    display: flex;
    flex-wrap:wrap-reverse 1fr 1fr;
    font-family: verdana;
}
.left{
    width: 65%;
    margin-top: 30px;
}
.left h2{
    color: #233E62;
    margin-left: 30px;
    margin-top: 60px;
}
.left p{
    font-size: 15px;
    margin:30px;
    color: #979797;
}
.bigbox{
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}
.box{
    width: 300px;
    height: 240px;
    background-color: #1B9CE3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 20px;
}
.box img{
    margin-top:20px ;
    width: 60px;
}
.box p{
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.box h3{
    margin: 0px;
    padding: 0px;  
}
.right{
    width: 35%;
    height: fit-content;
    border: 2px solid #92d5fa ;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    padding: 20px;
    margin-right: 30px;
    margin-top: 100px;
}
.right img{
    width: 420px;
    height: 250px;
    
}
.right h3{
    color: #233E62;
}
.right p{
    color: #979797;
    font-size: 15px;
}
.contact{
    width: fit-content;
    background-color: #1B9CE3;
    padding: 20px;
    border-radius: 50px;
    color: white;
    font-size: 15px;
}
.upper{
    display: flex;
    justify-content: center;
}
.experience{
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: 200px;
    background-color: #1B9CE3;
    color: white;
    font-family: verdana;
    display: flex;
    justify-content: center;

}
.experience img{
    position: absolute;
    width: 100%;
    height: 200px;
    object-fit: cover;
    opacity: 20%;
}
.experience h1{
    position: absolute;
    margin-top: 45px;
}

.lower{
    position: absolute;
    width: 90%;
    height: 200px;
    background-color: white;
    margin-top: 160px;
    display: flex;
    justify-content: center;
    font-family: verdana;
    flex-direction: row;
    gap: 90px;
    
}
.line{
    width: 40px;
    height: 2px;
    background-color: #1B9CE3;
}
.lower p{
    color: rgb(69, 68, 68);
    font-weight: 600;
}
.services{
    margin-top: 150px;
    width: 100%;
    height: fit-content;
    display: flex;
    font-family: verdana;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}
.services h2{
    color: #233E62;
    margin: 0px;
    padding: 0px;
}
.services p{
    color: #979797;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.bigtext{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.text{
    width: 350px;
    height: 250px;
    /* background-color: #1B9CE3; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.text img{
    width: 90px;
}
.text h3{
    color: #233E62;
}
.rect{
    width: 100%;
    height: 160px;
    background-color: #1B9CE3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: verdana;
}
.rect h2{
    color: white;
    margin-left: 30px;
}
.rect a{
    color: #1B9CE3;
    text-decoration: none;
    width: fit-content;
    padding: 20px;
    background-color: white;
    border-radius: 50px;
}