.navigation{
    background-color: #0D1128;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    /* width: 95%; */
    font-family: verdana;
    gap: 20PX;
}
.logo{
    font-size: 35px;
    color: white;
    font-weight: 550;
}
.pages{
    display: flex;
    flex-direction: row;
    color: white;
    gap: 40px;
}
.pages a{
    color: white;
    text-decoration: none;
}
.setting{
    gap: 20px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    
}
.signin{
    width: fit-content;
    color: white;
    /* margin-left: 80px; */
    
}
.login{
    width: 100px;
    padding: 5px 0px 5px 0px;
    border-radius: 50px;
    background-color: #1B9CE3;
    color: #0D1128;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login a{
    color: white;
    text-decoration: none;
}
.menu img{
    display: none;

}
.herosection{
    position: relative ;
    height: 500px;
    display: flex;
    flex-direction: column;
    font-family: verdana;
    align-items: baseline;
    justify-content: center;
    color: white;
    gap: 50px;
}
.herosection img{
    position: absolute;
    width: 100%;
    height: 500px;
    /* object-fit: cover; */
    z-index: -1;
}
.herosection h4{
    padding: 0px;
    margin: 0px;
    margin-left: 30px;
}
.herosection p{
    font-size: 45px;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
    margin-left: 30px;
}
.herosection a{
    color: white;
    background-color: #1B9CE3;
    text-decoration: none;
    margin: 0px;
    padding: 20px;
    border-radius: 50px;
    margin-left: 30px;
}
.features{
    width: 100%;
    display: flex;
    flex-wrap:wrap-reverse 1fr 1fr;
    font-family: verdana;
}
.left{
    width: 65%;
    margin-top: 30px;
}
.left h2{
    color: #233E62;
    margin-left: 30px;
    margin-top: 60px;
}
.left p{
    font-size: 15px;
    margin:30px;
    color: #979797;
}
.bigbox{
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}
.box{
    width: 300px;
    height: 240px;
    background-color: #1B9CE3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 20px;
}
.box img{
    margin-top:20px ;
    width: 60px;
}
.box p{
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.box h3{
    margin: 0px;
    padding: 0px;  
}
.right{
    width: 35%;
    height: fit-content;
    border: 2px solid #92d5fa ;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    padding: 20px;
    margin-right: 30px;
    margin-top: 100px;
}
.right img{
    width: 420px;
    height: 250px;
    
}
.right h3{
    color: #233E62;
}
.right p{
    color: #979797;
    font-size: 15px;
}
.contact{
    width: fit-content;
    background-color: #1B9CE3;
    padding: 20px;
    border-radius: 50px;
    color: white;
    font-size: 15px;
}
.contact a{
    color: white;
    text-decoration: none;
}
.upper{
    display: flex;
    justify-content: center;
}
.experience{
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: 200px;
    background-color: #1B9CE3;
    color: white;
    font-family: verdana;
    display: flex;
    justify-content: center;

}
.experience img{
    position: absolute;
    width: 100%;
    height: 200px;
    object-fit: cover;
    opacity: 20%;
}
.experience h1{
    position: absolute;
    margin-top: 45px;
}

.lower{
    position: absolute;
    width: 90%;
    height: 200px;
    background-color: white;
    margin-top: 160px;
    display: flex;
    justify-content: center;
    font-family: verdana;
    flex-direction: row;
    gap: 90px;
    
}
.line{
    width: 40px;
    height: 2px;
    background-color: #1B9CE3;
}
.lower p{
    color: rgb(69, 68, 68);
    font-weight: 600;
}
.services{
    margin-top: 150px;
    width: 100%;
    height: fit-content;
    display: flex;
    font-family: verdana;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}
.services h2{
    color: #233E62;
    margin: 0px;
    padding: 0px;
}
.services p{
    color: #979797;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.bigtext{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.text{
    width: 350px;
    height: 250px;
    /* background-color: #1B9CE3; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.text img{
    width: 90px;
}
.text h3{
    color: #233E62;
}
.rect{
    position: relative;
    width: 100%;
    height: 160px;
    background-color: #1B9CE3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: verdana;
}
.rect h2{
    color: white;
    margin-left: 30px;
    z-index: 3;
}
.rect a{
    color: #1B9CE3;
    text-decoration: none;
    width: fit-content;
    padding: 20px;
    background-color: white;
    border-radius: 50px;
    z-index: 3;
    margin-right: 30px;
}
.rect img{
    position: absolute;
    width: 100%;
    height: 160px;
    object-fit: cover;
    z-index: 1;
    opacity: 20%;
}
.projects{
    margin-top: 100px;
    width: 100%;
    height: 751px;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    font-family: verdana;
}
.projects h2{
    color: #233E62;
    padding: 0px;
    margin: 0px;
}
.projects p{
    color: #979797;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.mainproject{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;   
    gap: 0px;
    
}
.projectwork img{
    width: 300px;
    height: 300px;
    padding: 0px;
    margin: 0px;
    object-fit: cover;
}
.qoute{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #1B9CE3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: verdana;
    color: white;
    gap: 30px;
}
.message{
    position: absolute;
    z-index: 5;
    width: 50%;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.message h2{
    padding: 0px;
    margin: 0px;
}
.message p{
    padding: 0px;
    margin: 0px;
    font-size: 15px;

}
.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    width: 50%;
    gap: 60px;
}
.form input{
    color: white;
    width: 160px;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
.form select{
    color: white;
    width: 165px;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
.form a{
    color: #1B9CE3;
    text-decoration: none;
    background-color: white;
    width: 150px;
    padding: 20px;
    border-radius: 50px;
}
.qoute img{
    position: absolute;
    width:100%;
    height: 600px;
    object-fit: cover;
    z-index: 1;
    opacity: 20%;
}
.Blogs{
    margin-top: 0px;
    width: 100%;
    height: 900px;
    font-family: verdana;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: #f8f6f6;
}
.Blogs h2{
    color: #233E62;
    padding: 0px;
    margin: 0px;
    margin-top: 120px;
}
.Blogs p{
    color: #979797;
    padding: 0px;
    margin: 0px;text-align: center;
}
.blogbox{
    width: 350px;
    /* background-color: #1B9CE3; */
    border: 4px solid #9edafb;
    height: 480px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.date{
    margin-top: 150px;
    position: absolute;
    z-index: 3;
   width: 50px;
   height: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #1B9CE3;
}
.date h2{
    color: white;
    margin: 0px;
    padding: 0px;
}
.date p{
    font-size: 14px;
    color: white;
}
.blogbox img{
    width: 350px;
    height: 250px;
    object-fit: cover;
    z-index: 1;
}
.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 170px;
}
.bottom u{
    color: #1B9CE3;
}
.bottom a{
    color: white;
    text-decoration: none;
    background-color: #1B9CE3;
    padding: 10px;
    border-radius: 50px;
    width: fit-content;
    margin-left: 10px;
 } 
.blogtext{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.blogtext h4{
    color: black;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}
.blogtext p{
    font-size: 14px;
    text-align: left;
    padding: 0px;
    margin: 0px;
}
.headbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.testemonials{
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: verdana;
    gap: 40px;

}
.testemonials h2{
    color: #233E62;
    margin: 0px;
    padding: 0px;
    margin-top: 100px;
}
.testemonials p{
    color: #979797;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.views{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
    height: fit-content;
    gap: 40px;
    
}
.views img{
    width: 60px;
}
.reviews{
    width: 350px;
    height: 250px;
    border: 3px solid #9edafb;
    display: flex;
    flex-direction: column;  
    gap: 20px;
}

.pic{
    display: flex;
    flex-direction: row;
}
.pic img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 50px;
}
.pic p{
    width: 190px;
    font-size: 16px;
    margin-top: 30px;
    text-align: start ;
    margin-left: 20px;
}
.name{
    display: flex;
    flex-direction: column;
    align-items:start;
    gap: 10px;
    margin-left: 150px;
    justify-content:start;
}
.name h3{
    margin: 0px;
    padding: 0px;
}
.name p{
    color: #1B9CE3;
    margin: 0px;
    padding: 0px;
}
.bigcircle{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
}
.circle{
    width: 10px;
    height: 10px;
    background-color: #1B9CE3;
    border-radius: 50px;
}
.last{
    width: 100%;
    height: 600px;
    background-color: #232323;
    color: white;
    font-family: verdana;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.ques{
    padding-left: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.address{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.addressinside{
    display: flex;
    flex-direction: row;
}
.addressinside img{
    width: 20px;
    height: 20px;
}
.addressinside p{
    padding: 0px;
    margin: 0px;
    padding-left: 30px;
    width: 70%;
    font-size: 13px;
    color: #979797;
}
.addressinside a{
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    padding-left: 30px;
    color: white;
    text-decoration: none;
}
.recentblog{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.links{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sublinks{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sublinks a{
    color: #979797;
    text-decoration: none;
    font-size: 14px;
}
.subscribe{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.email{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.email input{
    width: 197px;
    height: 50px;
    background-color: #3a3a3a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid;
    font-size: 15px;
}
.email a{
    width: 200px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    background-color: #1B9CE3;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apps img{
    width: 30px;
    border-radius: 100px;
    background-color: #3a3a3a;
    padding: 2px;
}
.pics img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.blogsection{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.blogblock{
    display: flex;
    flex-direction: row;
}
.texts{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
    gap: 20px;
    
}
.texts a{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.day{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.day p{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    color: #979797;
}


@media(max-width:1200px){
.lower{
    gap: 50px;
    
}
.projects{
    height: 706px;
}

.projectwork img{
    width: 277px;
    height: 277px;

}
.bigbox{
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
}
.box{
    gap: 15px;
}
.right{
    margin-right: 20px;
}
.right img{
    width: 385px;
    
}
.blogbox{
    width: 300px;
}
.blogbox img{
    width: 300px;
}
.bottom{
    gap: 120px;
}
.reviews{
    width: 330px;
}
}


@media (max-width:1024px) {
    .pages{
    display: none;
}

.setting{
    display: none;
    

}
.menu img{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
}
.bigbox{
    margin-left: 2px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    width: 70%;
    
}

.box{
    width: 250px;
    height: 220px;
    gap: 8px;
    
}
.box p{
    font-size: 14px;
}
.right{
    width: 35%;
    /* margin-right: 20px; */
    padding: 10px;
}
.right img{
    width: 305px;
}
.right p{
    font-size: 14px;
}

.lower{
    width: 95%;
    gap: 20px;
    
}
.lower p{
    font-size: 15px;
}
.projects{
    height: 590px;
}
.mainproject{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.projectwork img{
    width: 220px;
    height: 220px;
}
.message{
    right: 60px;
}
.headbox{
    gap: 20px;
}
.blogbox{
    width: 270px;
}
.date{
    margin-top: 150px;
}
.blogbox img{
    width: 270px;
}
.blogtext{
    gap: 15px;
}

.blogtext p{
    font-size: 13px;
}
.bottom{
    gap: 80px;
}
.testemonials{
    height: 900px;
}
.views{
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
}
.last{
    gap: 10px;
}
.ques{
    padding-left: 20px;
}
.subscribe{
    margin-right: 20px;
}
}


@media(max-width:768px){
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.left p{
    text-align: center;
}
.bigbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: center;
    
}
.box{
    width: 300px;
    height: 220px;
    padding: 20px;
    gap: 15px;
}
.box img{
    width: 70px;
}
.box p{
    font-size: 15px
}

.right{
    width: 60%;
    border: 3px solid #92d5fa ;
    justify-content: center;
}
.right img{
    width: 470px;
}
.right p{
    font-size: 15px;
}
.lower{
    width: 96%;
    gap: 15px;
    
}
.lower p{
    font-weight: 550;
    font-size: 14px;
}
.projectwork img{
    width: 200px;
    height: 200px;
}
.projects{
    height: 571px;
}
.message{
    width: 70%;
    right: 100px;
}
.Blogs{
    height: 1400px;

}
.headbox{
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
}
.blogbox{
    width: 350px;
}

.blogbox img{
    width: 350px;
}
.bottom{
    gap: 170px;
}
.last{
    height: 900px;
    grid-template-columns: 1fr 1fr ;
    gap: 0px;
}
.links{
    margin-top: 0px;
    margin-left: 20px;
}
.subscribe{
    margin-top: 0px;
    gap: 20px;
}
}